<%= render(RailsUi::ComponentPreview::Component.new(title: "Default Breadcrumb")) do |component| %>
  <% component.with_example do %>
    <%= render(RailsUi::Breadcrumb::Component.new) do |breadcrumb| %>
      <% breadcrumb.with_item(href: "/") { "Home" } %>
      <% breadcrumb.with_item(href: "/components") { "Components" } %>
      <% breadcrumb.with_item(current: true) { "Breadcrumb" } %>
    <% end %>
  <% end %>

  <% component.with_code do %>
    <%%= render(RailsUi::Breadcrumb::Component.new) do |breadcrumb| %>
      <%% breadcrumb.with_item(href: "/") { "Home" } %>
      <%% breadcrumb.with_item(href: "/components") { "Components" } %>
      <%% breadcrumb.with_item(current: true) { "Breadcrumb" } %>
    <%% end %>
  <% end %>
<% end %>

<%= render(RailsUi::ComponentPreview::Component.new(title: "Breadcrumb with More Options")) do |component| %>
  <% component.with_example do %>
    <%= render(RailsUi::Breadcrumb::Component.new) do |breadcrumb| %>
      <% breadcrumb.with_item(href: "#") { "Home" } %>
      <% breadcrumb.with_item do %>
        <span class="text-red-400">CUSTOM ELEMENT</span>
      <% end %>
      <% breadcrumb.with_item(href: "#") { "Data Fetching" } %>
      <% breadcrumb.with_item(current: true) { "Caching and Revalidating" } %>
    <% end %>
  <% end %>

  <% component.with_code do %>
    <%%= render(RailsUi::Breadcrumb::Component.new) do |breadcrumb| %>
      <%% breadcrumb.with_item(href: "#") { "Home" } %>
      <%% breadcrumb.with_item do %>
        <span class="text-red-400">CUSTOM ELEMENT</span>
      <%% end %>
      <%% breadcrumb.with_item(href: "#") { "Data Fetching" } %>
      <%% breadcrumb.with_item(current: true) { "Caching and Revalidating" } %>
    <%% end %>
  <% end %>
<% end %>
