<%= render RailsUi::Markdown::Component.new do %>
  <div data-ui-markdown-target="content" class="prose dark:prose-invert">
    <%= File.open(RailsUi::Engine.root.join "README.md").read %>
  </div>
<% end %>