/.bundle/
/doc/
/log/*.log
/pkg/
/tmp/
/test/dummy/db/*.sqlite3
/test/dummy/db/*.sqlite3-*
/test/dummy/log/*.log
/test/dummy/node_modules
/test/dummy/storage/
/test/dummy/tmp/
/test/dummy/public/assets/*
!/test/dummy/public/assets/.keep
/test/dummy/app/assets/builds/*
!/test/dummy/app/assets/builds/.keep
