
  <div data-controller="ui-chart"
      data-ui-chart-type-value="<%= type %>"
      data-ui-chart-config-value="<%= config%>"
      data-ui-chart-data-value='<%= data %>'>
    <canvas data-ui-chart-target="canvas"></canvas>
  </div>
