<div class="h-screen overflow-auto">
  <ul class="flex flex-col p-4 ">
    <% rails_ui_nav_items.each do |item| %>

      <% if item[:type] == "link"%>
        <li class="text-xs">
          <%= link_to item[:title], playground_url(section: item[:title].parameterize.underscore), 
            class: "group flex w-full items-center rounded-md border border-transparent px-2 py-1 hover:underline 
            #{item[:title].parameterize.underscore == params[:section] ? "text-default" : "text-muted-foreground" }" %>
        </li>
      <% else %>
        <li>
          <h4 class="mb-1 rounded-md px-2 py-1 text-sm font-semibold">
            <%= item[:title] %>
          </h4>
        </li>
      <% end %>
    <% end %>
  </ul>
</div>